@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Forum";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/Forum/Forum-Regular.ttf") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/inter-v12-latin/inter-v12-latin-regular.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/inter-v12-latin/inter-v12-latin-700.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
html {
  width: 1440px;
  box-sizing: border-box;
}
*,
*::before,
* :after {
  box-sizing: inherit;
}
body {
  margin: 0px;
}
.header__background {
  height: 90px;
  background-color: #0c0c0e;
}
.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
}
.header__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.header__item {
  margin-right: 30px;
  font-style: "Inter";
  font-weight: 400;
}
.header__item:last-child {
  margin-right: 0px;
}
.header__link {
  font-size: 20px;
  font-family: Inter;
  line-height: 50px;
  color: #fff;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
}
.header__link:hover,
.header__link:focus,
.header__link:active {
  opacity: 0.75;
}
.header__name {
  font-family: "Forum";
  font-size: 30px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0.6px;
  color: #fff;
  padding-left: 20px;
}
.header__nav__icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icon {
  padding-right: 20px;
  padding-left: 40px;
}
/* Welcome to the Brooklyn library styles start */
.welcome_to_the_brooklyn_library {
  display: flex;
  align-items: center;
  height: 600px;
  background: url(./assets/img/Welcome.png) no-repeat center;
}
.welcome__wrapper {
  display: flex;
  width: 600px;
  padding: 35px 40px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background: #0c0c0e;
  height: 220px;
}
.welcome__name {
  text-transform: uppercase;
  display: flex;
  width: 520px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #fff;
  text-align: center;
  font-family: Forum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 3px;
}
/* Welcome to the Brooklyn library styles end */

/* About section styles start */
.about__wrapper {
  height: 837px;
  background: #fff;
}
.name {
  color: #0c0c0e;
  font-family: Forum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  height: 40 px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.line {
  width: 50px;
  height: 1px;
  flex-shrink: 0;
  background: #0c0c0e;
}
.section__title {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 61px;
  flex-shrink: 0;
}

.about__description {
  display: flex;
  width: 1440px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}
.about__descript {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  padding-top: 40px;
}
.about__slider__photo {
  display: flex;
  justify-content: space-around;
}
.about__item {
  width: 450px;
  height: 560px;
  flex-shrink: 0;
}
.about__icon {
  width: 68px;
  height: 16px;
  flex-shrink: 0;
  margin: 40px;
}
.about__icon__div {
  display: flex;
  justify-content: center;
}

/* About section styles end */

/* Favourites section styles start */
.favourites__wrapper {
  height: 1439px;
  background: #fff;
}
.favourites__descript {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.favourites__description {
  display: flex;
  justify-content: start;
  margin-left: 20px;
  margin-top: 40px;
}
.fav__chosen__icon {
  width: 17px;
  height: 17px;
  flex-shrink: 0;
  color: #000;
}
.fav__chosen__text {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 20px;
}
.favourites__radio-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 90px;
}
.favourites__radio-button:last-child {
  margin-right: 0px;
}
.fav__icon {
  width: 17px;
  height: 17px;
  flex-shrink: 0;
  stroke-width: 2px;
  stroke: #000;
}
.fav__text {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 20px;
}
.favourites__radio-buttons {
  width: 700px;
  height: 24px;
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-bottom: 40px;
}
.fav__books {
  height: 1150px;
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-direction: row;
  flex-flow: row wrap;
}
.fav__book {
  width: 590px;
  height: 555px;
  flex-shrink: 0;
  display: flex;
  align-items: start;
  flex-flow: column wrap;
  margin: 15px 20px;
}

.book__p {
  color: #000;
  font-family: Forum;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  margin: 0px;
}
.book__staff__picks {
  display: flex;
  justify-content: start;
}
.line__small {
  width: 60px;
  height: 1px;
  background: #bb945f;
}
.book__picks {
  flex-shrink: 0;
  height: 40px;
  margin-bottom: 20px;
}
.book__name {
  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2px;
  margin: 0px;
}
.book__title {
  margin-bottom: 20px;
}
.book__descript {
  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  margin: 0px;
}
.book__description {
  display: flex;
  width: 355px;
  flex-direction: column;
  justify-content: start;
  flex-shrink: 0;
  margin-bottom: 15px;
}
.book__buy {
  color: #0c0c0e;
  text-align: center;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  margin: 0px;
  width: 21px;
  height: 12px;
}
.book__rectangle {
  border-radius: 2px;
  border: 1px solid #0c0c0e;
  width: 75px;
  height: 30px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.book__buy__button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.book__bg-description {
  width: 550px;
  height: 555px;
  flex-shrink: 0;
  border: 1px solid #000;
  background: #fff;
  display: flex;
  justify-content: start;
  align-items: start;
  margin-left: 20px;
  margin-right: 60px;
  margin-bottom: 40px;
}
.book__image {
  width: 200px;
  height: 300px;
  flex-shrink: 0;
}
.book__img__1 {
  width: 200px;
  height: 300px;
  position: absolute;
  top: 2011px;
  left: 410px;
}
.book__img__2 {
  width: 200px;
  height: 300px;
  position: absolute;
  top: 2011px;
  right: 20px;
}
.book__img__3 {
  width: 200px;
  height: 300px;
  position: absolute;
  top: 2606px;
  left: 410px;
}
.book__img__4 {
  width: 200px;
  height: 300px;
  position: absolute;
  top: 2606px;
  right: 20px;
}
/* Favourites section styles end */

/* Coffee shop section styles start */
.coffee_shop {
  padding: 20px 20px 40px 20px;
}
.coffee__description {
  display: flex;
  width: 1400px;
  flex-direction: column;
  margin-top: 40px;
  margin-bottom: 40px;
}
.coffee__descript {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
}
.menu__name {
  color: #bb945f;
  font-family: Forum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}
.coffee__menu__item__name {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  margin: 0px;
  height: 40px;
}
.menu__line {
  width: 100px;
  height: 1px;
  background: #bb945f;
}
.menu__price__p {
  color: #000;
  font-family: Forum;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}
.menu__line {
  width: 100px;
  height: 1px;
  background: #bb945f;
}
.coffee__menu__item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

/* Coffee shop section styles end */
