@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/fonts/Forum/Forum-Regular.ttf') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
/* inter-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('assets/fontsinter-v12-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* inter-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url('assets/fontsinter-v12-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
html{
    width: 1440px;
    box-sizing: border-box;
}
*, *::before, * :after{
    box-sizing: inherit;
}
body {
    margin: 0px;
}
.header__background {
    height: 90px;
    background-color: #0C0C0E;
}
.header__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
}
.header__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.header__item {
    margin-right: 30px;
    font-style: 'Inter';
    font-weight: 400;
}
.header__item:last-child {
    margin-right: 0px;
}
.header__link {
    font-size: 20px;
    font-family: Inter;
    line-height: 50px;
    color: #FFF;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
}
.header__link:hover, .header__link:focus, .header__link:active {
    opacity: 0.75;
}
.header__name {
    font-family: 'Forum';
    font-size: 30px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0.6px;
    color:#FFF;
    padding-left: 20px;
}
.header__nav__icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icon {
    padding-right: 20px;
    padding-left: 40px;
}
/* Welcome to the Brooklyn library styles start */
.welcome_to_the_brooklyn_library {
    display: flex;
    align-items: center;
    height: 600px;
    background: url(./assets/img/Welcome.png) no-repeat center;
}
.welcome__wrapper {
    display: flex;
    width: 600px;
    padding: 35px 40px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background: #0C0C0E;
    height: 220px;
}
.welcome__name {
    text-transform: uppercase;
    display: flex;
    width: 520px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 3px;
}
/* Welcome to the Brooklyn library styles end */

/* About section styles start */
.about__wrapper {
    height: 837px;
    background: #FFF;
}
.about__name {
    color: #0C0C0E;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    height: 40 px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.line {
    width: 50px;
    height: 1px;
    flex-shrink: 0;
    background: #0C0C0E;
    
}
.section__title {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 61px;
    flex-shrink: 0;
}

.about__description {
    display: flex;
    width: 1440px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
}
.about__descript {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    padding-top: 40px;
}

/* About section styles start */
